.layout {
    display: flex;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    padding: 1.5rem;
    background-color: var(--color-bg-secondary);
}